body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0;
}

/* header */
.header {
    width: 100%;
    height: 88px;
    margin-bottom: 40px;
}

.wrapper {
    width: 100%;
    max-width: 943px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items:
        center;
}

.header-wrapper {
    border-bottom: 1px solid #828282;
}

.nav {
    width: 100%;
}

.nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #828282;
    cursor: pointer;
}

.is-now-link {
    color: #070707;
}

/* main */

.main {
    width: 100%;
    height: 100%;
    margin-bottom: 104px;
}

.main-wrapper {
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.info {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #070707;
}

.who-m-i {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    font-family: 'Gilroy';
}

.buttons {
    display: flex;
    align-content: flex-end;
    writing-mode: vertical-lr;
    flex-direction: row;
}

.change-lang-button {
    padding: 5px 0;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    cursor: pointer;
}

.change-lang-button:last-child {
    border-bottom: 1px solid black;
}

.photo {
    width: 100%;
    height: 100%;
}

.about {
    width: 100%;
    height: 100vh;
    max-height: 506px;
    background-color: #F6F6F6;
}

.heading {

    color: #070707;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

}

.about-me {
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #070707;
    max-width: 485px;
}

.wrapper_about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100vh;
    max-height: 506px; */

}


.skills {
    width: 100%;
    height: 100vh;
    max-height: 506px;
}

.wrapper_skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-weight: 500;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.skill-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.git-img {
    width: 83px;
    height: 83px;
}

.contacts {
    width: 100%;
    height: 100%;
}

.wrapper-contacts {
    flex-direction: column;
    align-items: center;
}

.btn-send {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    padding: 9.5px 29px;
    background-color: #070707;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 85px;
}